RobotType { name ur5
	joint {
		Joint {
 		name world_joint
 		type fixed
		parent Parent { link world }
 		child Child { link base_link }
},
		Joint {
 		name base_link_base_fixed_joint
 		type fixed
		parent Parent { link base_link }
 		child Child { link base }
},
		Joint {
 		name shoulder_pan_joint
 		type revolute
		parent Parent { link base_link }
 		child Child { link shoulder_link }
		axis Axis { xyz "0.000000 0.000000 1.000000" }
},
		Joint {
 		name shoulder_lift_joint
 		type revolute
		origin Pose { rpy "0.000000 1.570796 -0.000000" xyz "0.000000 0.135850 0.000000" }
		parent Parent { link shoulder_link }
 		child Child { link upper_arm_link }
		axis Axis { xyz "0.000000 1.000000 0.000000" }
},
		Joint {
 		name elbow_joint
 		type revolute
		parent Parent { link upper_arm_link }
 		child Child { link forearm_link }
		axis Axis { xyz "0.000000 1.000000 0.000000" }
},
		Joint {
 		name wrist_1_joint
 		type revolute
		parent Parent { link forearm_link }
 		child Child { link wrist_1_link }
		axis Axis { xyz "0.000000 1.000000 0.000000" }
},
		Joint {
 		name wrist_2_joint
 		type revolute
		parent Parent { link wrist_1_link }
 		child Child { link wrist_2_link }
		axis Axis { xyz "0.000000 0.000000 1.000000" }
},
		Joint {
 		name wrist_3_joint
 		type revolute
		parent Parent { link wrist_2_link }
 		child Child { link wrist_3_link }
		axis Axis { xyz "0.000000 1.000000 0.000000" }
},
		Joint {
 		name ee_fixed_joint
 		type fixed
		origin Pose { rpy "0.000000 -0.000000 1.570796" xyz "0.000000 0.082300 0.000000" }
		parent Parent { link wrist_3_link }
 		child Child { link ee_link }
},
		Joint {
 		name wrist_3_link_tool0_fixed_joint
 		type fixed
		origin Pose { rpy "-1.570796 0.000000 0.000000" xyz "0.000000 0.082300 0.000000" }
		parent Parent { link wrist_3_link }
 		child Child { link tool0 }
} }
	link {
		 Link { name world },
		 Link { name base_link },
		 Link { name base },
		 Link { name shoulder_link },
		 Link { name upper_arm_link },
		 Link { name forearm_link },
		 Link { name wrist_1_link },
		 Link { name wrist_2_link },
		 Link { name wrist_3_link },
		 Link { name ee_link },
		 Link { name tool0 } }
}
